In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

pd.set_option('display.max_rows', 500)

%matplotlib inline

In [6]:
url_1 = ""

In [7]:
df_1 = pd.read_csv(url_1)

In [8]:
df_1

,year,month,day,date,fruits_veggies,daily_stress,places_visited,core_circle,supporting_others,social_network,...,sufficient_income,personal_awards,time_for_passion,weekly_meditation,age,gender,work_life_balance_score,Positive Experience Index,Negative Experience Index,median
0,2016,1,1,2016-01-01,5,4,10,3,2,2,...,2,4,5,1,21 to 35,Female,641.8,70,28,11.8
1,2016,1,1,2016-01-01,3,3,1,10,0,4,...,1,5,1,10,Less than 20,Female,628.1,70,28,11.8
2,2016,1,1,2016-01-01,2,4,5,10,10,10,...,1,10,6,7,36 to 50,Female,649.7,70,28,11.8
3,2016,1,1,2016-01-01,3,4,10,7,2,10,...,2,3,1,7,21 to 35,Male,637.1,70,28,11.8
4,2016,1,1,2016-01-01,0,4,5,3,0,4,...,1,6,1,3,21 to 35,Male,546.2,70,28,11.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13583,2020,12,31,2020-12-31,2,3,0,5,5,10,...,1,10,0,0,21 to 35,Male,644.3,71,32,12.9
13584,2020,12,31,2020-12-31,4,5,0,5,0,5,...,1,2,10,10,36 to 50,Male,627.1,71,32,12.9
13585,2020,12,31,2020-12-31,3,2,4,5,2,3,...,2,1,2,4,36 to 50,Male,644.7,71,32,12.9
13586,2020,12,31,2020-12-31,3,3,3,6,9,5,...,2,9,1,2,21 to 35,Female,657.1,71,32,12.9
13587,2020,12,31,2020-12-31,1,4,3,5,3,5,...,2,3,1,7,21 to 35,Female,617.2,71,32,12.9

In [ ]:
url_2 =